<tr data-id=<%= subscription.id %>>
  <td class="subscription-number"><%= link_to subscription.number, edit_subscription_path(subscription) %></td>
  <td class="subscription-product-name"><%= subscription.variant.product.name %></td>
  <td class="text-center subscription-price"><%= subscription.price * subscription.quantity %></td>
  <td class="text-center subscription-started"><%= subscription.parent_order.completed_at.to_date.to_formatted_s(:rfc822) %></td>
  <td class="text-center subscription-frequency"><%= subscription.frequency.display_frequency %></td>
  <td class="text-center subscription-next-occurrence-possible"><%= subscription.next_occurrence_possible %></td>
  <td class="text-center subscription-delivery-number"><%= subscription.delivery_number %></td>
  <td class="text-center subscription-deliveries-left"><%= subscription.number_of_deliveries_left %></td>
  <td class="subscription-action-links">
    <% @subscription = subscription %>
    <% if subscription.cancelled? %>
        Subscription Cancelled
    <% elsif !subscription.deliveries_remaining? %>
        Completed
    <% else %>
      <%= link_to Spree.t("subsriptions.admin.cancel"), cancel_subscription_path(subscription), class: "btn btn-xs btn-danger", data: { method: "PATCH", confirmation: Spree.t("subscriptions.confirm.cancel") } %>
    <% end %>
  </td>
</tr>
